In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
%matplotlib inline
from math import sin, cos, sqrt, atan2, radians
import warnings
warnings.filterwarnings('ignore')

In [6]:
devc = 864504031502210
latitude1= 12.987503
longtitude1 = 77.740051 
place = 'Hudi' 
alarmtype = 'Overspeed'
speed = 32
timestamp= '2018-02-01T01:48:59.000Z'
tup=[devc,latitude1,longtitude1,place,alarmtype,speed,timestamp]

In [7]:
rx=df=pd.read_csv('bangalore-cas-alerts.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207617 entries, 0 to 207616
Data columns (total 7 columns):
deviceCode_deviceCode                 207617 non-null int64
deviceCode_location_latitude          207617 non-null float64
deviceCode_location_longitude         207617 non-null float64
deviceCode_location_wardName          207617 non-null object
deviceCode_pyld_alarmType             207617 non-null object
deviceCode_pyld_speed                 207617 non-null int64
deviceCode_time_recordedTime_$date    207617 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 8.7+ MB

In [9]:
df.drop_duplicates(subset=None, inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152276 entries, 0 to 207616
Data columns (total 7 columns):
deviceCode_deviceCode                 152276 non-null int64
deviceCode_location_latitude          152276 non-null float64
deviceCode_location_longitude         152276 non-null float64
deviceCode_location_wardName          152276 non-null object
deviceCode_pyld_alarmType             152276 non-null object
deviceCode_pyld_speed                 152276 non-null int64
deviceCode_time_recordedTime_$date    152276 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 7.6+ MB

In [11]:
df.head(5)

,deviceCode_deviceCode,deviceCode_location_latitude,deviceCode_location_longitude,deviceCode_location_wardName,deviceCode_pyld_alarmType,deviceCode_pyld_speed,deviceCode_time_recordedTime_$date
0,864504031502210,12.984595,77.744087,Kadugodi,PCW,32,2018-02-01T01:48:59.000Z
2,864504031502210,12.987233,77.741119,Garudachar Playa,FCW,41,2018-02-01T01:50:00.000Z
4,864504031502210,12.987503,77.740051,Hudi,Overspeed,37,2018-02-01T01:50:11.000Z
6,864504031502210,12.987523,77.736702,Kadugodi,HMW,32,2018-02-01T01:50:50.000Z
8,864504031502210,12.988210,77.731369,Hudi,Overspeed,27,2018-02-01T01:52:26.000Z

In [12]:
df.to_csv('Banglore.csv')

In [13]:
df=pd.read_csv('Banglore.csv')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152276 entries, 0 to 152275
Data columns (total 8 columns):
Unnamed: 0                            152276 non-null int64
deviceCode_deviceCode                 152276 non-null int64
deviceCode_location_latitude          152276 non-null float64
deviceCode_location_longitude         152276 non-null float64
deviceCode_location_wardName          152276 non-null object
deviceCode_pyld_alarmType             152276 non-null object
deviceCode_pyld_speed                 152276 non-null int64
deviceCode_time_recordedTime_$date    152276 non-null object
dtypes: float64(2), int64(3), object(3)
memory usage: 7.6+ MB

In [15]:
df.drop('deviceCode_time_recordedTime_$date',axis=1,inplace=True)

In [16]:
alarm=pd.get_dummies(df['deviceCode_pyld_alarmType'])

In [17]:
df=pd.concat([df,alarm],axis=1)

In [18]:
df.describe()

,Unnamed: 0,deviceCode_deviceCode,deviceCode_location_latitude,deviceCode_location_longitude,deviceCode_pyld_speed,FCW,HMW,LDWL,LDWR,Overspeed,PCW,UFCW
count,152276.000000,1.522760e+05,152276.000000,152276.000000,152276.000000,152276.000000,152276.000000,152276.000000,152276.000000,152276.000000,152276.000000,152276.000000
mean,94442.776807,8.641311e+14,12.970746,77.721700,22.144777,0.169383,0.171688,0.006757,0.005786,0.130493,0.116492,0.399400
std,58963.179807,2.963658e+11,0.026638,0.029724,13.712247,0.375091,0.377110,0.081926,0.075843,0.336846,0.320816,0.489777
min,0.000000,8.620100e+14,12.686663,77.508179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,45446.750000,8.639770e+14,12.956510,77.706879,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,83677.500000,8.639770e+14,12.973103,77.727402,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,142808.500000,8.645040e+14,12.987735,77.743698,32.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,207616.000000,8.645040e+14,13.070075,77.806824,83.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
#df.drop('deviceCode_pyld_alarmType',axis=1,inplace=True)

In [20]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [21]:
df.head(5)

,deviceCode_deviceCode,deviceCode_location_latitude,deviceCode_location_longitude,deviceCode_location_wardName,deviceCode_pyld_alarmType,deviceCode_pyld_speed,FCW,HMW,LDWL,LDWR,Overspeed,PCW,UFCW
0,864504031502210,12.984595,77.744087,Kadugodi,PCW,32,0,0,0,0,0,1,0
1,864504031502210,12.987233,77.741119,Garudachar Playa,FCW,41,1,0,0,0,0,0,0
2,864504031502210,12.987503,77.740051,Hudi,Overspeed,37,0,0,0,0,1,0,0
3,864504031502210,12.987523,77.736702,Kadugodi,HMW,32,0,1,0,0,0,0,0
4,864504031502210,12.988210,77.731369,Hudi,Overspeed,27,0,0,0,0,1,0,0

In [22]:
df['deviceCode_location_wardName'].groupby(df['deviceCode_location_wardName']).count()

deviceCode_location_wardName
A Narayanapura              1321
Agaram                        42
BTM Layout                    15
Banasavadi                   104
Basavanapura                 464
Bellanduru                  8551
Benniganahalli                90
Bharathi Nagar                 5
C V Raman Nagar              439
Chickpete                      9
Devasandra                  1218
Dharmaraya Swamy Temple        7
Dodda Nekkundi             11063
Domlur                       421
Garudachar Playa            5866
Gurappanapalya                 4
HAL Airport                 2255
HSR Layout                   120
Hagadur                    16255
Halsoor                       17
Hemmigepura                   27
Horamavu                     240
Hoysala Nagar                220
Hudi                       11276
J P Nagar                     11
Jaraganahalli                  5
Jayanagar East                 3
Jeevanbhima Nagar             67
Jogupalya                     70
K R Puram                    140
Kacharkanahalli               56
Kadugodi                   15448
Kammanahalli                   3
Konena Agrahara             1006
Madivala                      11
Marathahalli                2125
New Tippasandara             375
Other                       3626
Ramamurthy Nagar             107
Sampangiram Nagar             38
Sarakki                       16
Shantala Nagar                95
Singasandra                   96
Sudham Nagara                  1
Varthuru                    4118
Vasanthpura                   19
Vijnana Nagar                490
Vijnanapura                   40
Yelchenahalli                  1
other                      64280
Name: deviceCode_location_wardName, dtype: int64

In [23]:
#defining car place and location at any instant
place='Hudi'
loc=[latitude1,longtitude1]

In [24]:
df1=df[df['deviceCode_location_wardName']==place]

In [25]:
#np.sum(df1['HMW']==True)

In [26]:
#define empty series for distance calculation
Distance = pd.Series([])

In [27]:
#Functionn to calculate distance between the points
def function_(lat,long):
    # approximate radius of earth in km
    R = 6373.0

    lat1 = radians(loc[0])
    lon1 = radians(loc[1])
    lat2 = radians(lat)
    lon2 = radians(long)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    return distance

In [28]:
i=0
for index, row in df1.iterrows():
    y=function_(df1['deviceCode_location_latitude'].iloc[i],df1['deviceCode_location_longitude'].iloc[i])
    Distance.set_value(index,value=y)
    i=i+1

In [29]:
Distance[2]

2.9774868539355067e-05

In [30]:
df1=pd.concat([df1,Distance],axis=1)

In [31]:
df1.head(5)

,deviceCode_deviceCode,deviceCode_location_latitude,deviceCode_location_longitude,deviceCode_location_wardName,deviceCode_pyld_alarmType,deviceCode_pyld_speed,FCW,HMW,LDWL,LDWR,Overspeed,PCW,UFCW,0
2,864504031502210,12.987503,77.740051,Hudi,Overspeed,37,0,0,0,0,1,0,0,0.000030
4,864504031502210,12.988210,77.731369,Hudi,Overspeed,27,0,0,0,0,1,0,0,0.944268
5,864504031502210,12.988226,77.731293,Hudi,Overspeed,29,0,0,0,0,1,0,0,0.952659
6,864504031502210,12.991210,77.727478,Hudi,Overspeed,14,0,0,0,0,1,0,0,1.423720
7,864504031502210,12.991193,77.727829,Hudi,Overspeed,12,0,0,0,0,1,0,0,1.386790

In [32]:
df1.sort_values(0,inplace=True)

In [33]:
df1.head()

,deviceCode_deviceCode,deviceCode_location_latitude,deviceCode_location_longitude,deviceCode_location_wardName,deviceCode_pyld_alarmType,deviceCode_pyld_speed,FCW,HMW,LDWL,LDWR,Overspeed,PCW,UFCW,0
2,864504031502210,12.987503,77.740051,Hudi,Overspeed,37,0,0,0,0,1,0,0,0.000030
25848,864504031819929,12.987491,77.740051,Hudi,FCW,30,1,0,0,0,0,0,0,0.001374
64081,864504031502210,12.987491,77.740067,Hudi,FCW,30,1,0,0,0,0,0,0,0.002172
1019,864504031502210,12.987496,77.740021,Hudi,Overspeed,38,0,0,0,0,1,0,0,0.003360
273,864504031502210,12.987490,77.740013,Hudi,Overspeed,34,0,0,0,0,1,0,0,0.004364

In [34]:
df2 = df1.loc[df1[0]<0.5 , ['FCW', 'HMW', 'LDWL' ,'LDWR','Overspeed','PCW','UFCW']]

In [35]:
df2.head()

       FCW  HMW  LDWL  LDWR  Overspeed  PCW  UFCW
2        0    0     0     0          1    0     0
25848    1    0     0     0          0    0     0
64081    1    0     0     0          0    0     0
1019     0    0     0     0          1    0     0
273      0    0     0     0          1    0     0

In [36]:
list1=['FCW', 'HMW', 'LDWL' ,'LDWR','Overspeed','PCW','UFCW']

In [37]:
def countval(list1,Df2,j):
    x=np.sum(Df2[list1[j]]==1)
    y=(Df2[list1[j]].count())-x
    return [x,y]

In [38]:
z=[]

In [39]:
for i in range(0,len(list1)):
    z.append(countval(list1,df2,i))

In [40]:
z

[[87, 436], [141, 382], [4, 519], [0, 523], [98, 425], [18, 505], [175, 348]]

In [41]:
df_ = pd.DataFrame(data=z,columns=['True','False'],index=['FCW', 'HMW', 'LDWL' ,'LDWR','Overspeed','PCW','UFCW'])
#df_ = df_.fillna(0) # with 0s rather than NaNs

In [42]:
df_

           True  False
FCW          87    436
HMW         141    382
LDWL          4    519
LDWR          0    523
Overspeed    98    425
PCW          18    505
UFCW        175    348

In [43]:
t1=np.sum(df_['True'])
t2=np.sum(df_['False'])

In [44]:
df_.loc['Total']=(t1,t2)

In [45]:
df_

           True  False
FCW          87    436
HMW         141    382
LDWL          4    519
LDWR          0    523
Overspeed    98    425
PCW          18    505
UFCW        175    348
Total       523   3138

In [46]:
perc_probility = pd.Series([])

In [47]:
def func1(tr,fa):
    return ((tr/(tr+fa))*100)

In [48]:
j=0
for index, row in df_.iterrows():
    k=func1(df_['True'].iloc[j],df_['False'].iloc[j])
    perc_probility.set_value(index,value=k)
    j=j+1

In [49]:
perc_probility

FCW          16.634799
HMW          26.959847
LDWL          0.764818
LDWR          0.000000
Overspeed    18.738050
PCW           3.441683
UFCW         33.460803
Total        14.285714
dtype: float64

In [50]:
df_=pd.concat([df_,perc_probility],axis=1)

In [51]:
df_

           True  False          0
FCW          87    436  16.634799
HMW         141    382  26.959847
LDWL          4    519   0.764818
LDWR          0    523   0.000000
Overspeed    98    425  18.738050
PCW          18    505   3.441683
UFCW        175    348  33.460803
Total       523   3138  14.285714

In [52]:
df1.head()

,deviceCode_deviceCode,deviceCode_location_latitude,deviceCode_location_longitude,deviceCode_location_wardName,deviceCode_pyld_alarmType,deviceCode_pyld_speed,FCW,HMW,LDWL,LDWR,Overspeed,PCW,UFCW,0
2,864504031502210,12.987503,77.740051,Hudi,Overspeed,37,0,0,0,0,1,0,0,0.000030
25848,864504031819929,12.987491,77.740051,Hudi,FCW,30,1,0,0,0,0,0,0,0.001374
64081,864504031502210,12.987491,77.740067,Hudi,FCW,30,1,0,0,0,0,0,0,0.002172
1019,864504031502210,12.987496,77.740021,Hudi,Overspeed,38,0,0,0,0,1,0,0,0.003360
273,864504031502210,12.987490,77.740013,Hudi,Overspeed,34,0,0,0,0,1,0,0,0.004364

In [53]:
df1.columns=['deviceCode_deviceCode',  'deviceCode_location_latitude',
       'deviceCode_location_longitude',  'deviceCode_location_wardName',
           'deviceCode_pyld_alarmType',         'deviceCode_pyld_speed',
                                 'FCW',                           'HMW',
                                'LDWL',                          'LDWR',
                           'Overspeed',                           'PCW',
                                'UFCW',                               'Distance_from_given_location_in_Km']

In [54]:
l1=[]
for i in range(0,11276):
    l1.append(0.0)

In [55]:
df1['Probability'] = pd.Series(data=l1, index=df1.index)

In [56]:
df1.head()

,deviceCode_deviceCode,deviceCode_location_latitude,deviceCode_location_longitude,deviceCode_location_wardName,deviceCode_pyld_alarmType,deviceCode_pyld_speed,FCW,HMW,LDWL,LDWR,Overspeed,PCW,UFCW,Distance_from_given_location_in_Km,Probability
2,864504031502210,12.987503,77.740051,Hudi,Overspeed,37,0,0,0,0,1,0,0,0.000030,0.0
25848,864504031819929,12.987491,77.740051,Hudi,FCW,30,1,0,0,0,0,0,0,0.001374,0.0
64081,864504031502210,12.987491,77.740067,Hudi,FCW,30,1,0,0,0,0,0,0,0.002172,0.0
1019,864504031502210,12.987496,77.740021,Hudi,Overspeed,38,0,0,0,0,1,0,0,0.003360,0.0
273,864504031502210,12.987490,77.740013,Hudi,Overspeed,34,0,0,0,0,1,0,0,0.004364,0.0

In [57]:
df_[0]['Overspeed']

18.738049713193117

In [58]:
j=0
for index, row in df1.iterrows():
        if df1['deviceCode_pyld_alarmType'].iloc[j]=='UFCW':
            df1['Probability'][df1.index[j]]=df_[0]['UFCW']
        elif df1['deviceCode_pyld_alarmType'].iloc[j]=='FCW':
            df1['Probability'][df1.index[j]]=df_[0]['FCW']
        elif df1['deviceCode_pyld_alarmType'].iloc[j]=='HMW':
            df1['Probability'][df1.index[j]]=df_[0]['HMW']
        elif df1['deviceCode_pyld_alarmType'].iloc[j]=='LDWL':
            df1['Probability'][df1.index[j]]=df_[0]['LDWL']
        elif df1['deviceCode_pyld_alarmType'].iloc[j]=='LDWR':
            df1['Probability'][df1.index[j]]=df_[0]['LDWR']
        elif df1['deviceCode_pyld_alarmType'].iloc[j]=='PCW':
            df1['Probability'][df1.index[j]]=df_[0]['PCW']
        elif df1['deviceCode_pyld_alarmType'].iloc[j]=='Overspeed':
            df1['Probability'][df1.index[j]]=df_[0]['Overspeed']
        j=j+1
        if j==5:
            break

In [59]:
dfx=df1.head()
dfx

,deviceCode_deviceCode,deviceCode_location_latitude,deviceCode_location_longitude,deviceCode_location_wardName,deviceCode_pyld_alarmType,deviceCode_pyld_speed,FCW,HMW,LDWL,LDWR,Overspeed,PCW,UFCW,Distance_from_given_location_in_Km,Probability
2,864504031502210,12.987503,77.740051,Hudi,Overspeed,37,0,0,0,0,1,0,0,0.000030,18.738050
25848,864504031819929,12.987491,77.740051,Hudi,FCW,30,1,0,0,0,0,0,0,0.001374,16.634799
64081,864504031502210,12.987491,77.740067,Hudi,FCW,30,1,0,0,0,0,0,0,0.002172,16.634799
1019,864504031502210,12.987496,77.740021,Hudi,Overspeed,38,0,0,0,0,1,0,0,0.003360,18.738050
273,864504031502210,12.987490,77.740013,Hudi,Overspeed,34,0,0,0,0,1,0,0,0.004364,18.738050

In [60]:
rating=0

In [61]:
x=dfx['Probability'].max()

In [62]:
dfx[dfx['Probability']==x]['deviceCode_pyld_alarmType'].iloc[0]
df_[0][alarmtype]

18.738049713193117

In [63]:
ym=dfx['Distance_from_given_location_in_Km'].min()

In [64]:
dfx[dfx['Distance_from_given_location_in_Km']==ym]['deviceCode_pyld_alarmType'].iloc[0]

'Overspeed'

In [65]:
if (dfx[dfx['Probability']==x]['deviceCode_pyld_alarmType'].iloc[0]==alarmtype) or (dfx[dfx['Distance_from_given_location_in_Km']==ym]['deviceCode_pyld_alarmType'].iloc[0]
==alarmtype):
        rating=1
elif (df_[0][alarmtype])>=0 and (df_[0][alarmtype])<=10:
        rating=5
elif (df_[0][alarmtype])>10 and (df_[0][alarmtype])<=20:
        rating=4
elif (df_[0][alarmtype])>20 and (df_[0][alarmtype])<=30:
        rating=3
elif (df_[0][alarmtype])>30 and (df_[0][alarmtype])<=40:
        rating=2
else:
        rating=1

In [68]:
print(rating)

1

In [69]:
pq=rx.xs(0)

In [70]:
pq[0]=tup[0]
pq[1]=tup[1]
pq[2]=tup[2]
pq[3]=tup[3]
pq[4]=tup[4]
pq[5]=tup[5]
pq[6]=tup[6]

In [71]:
my=rx.append(pq,ignore_index=True)

In [72]:
my.head()

,deviceCode_deviceCode,deviceCode_location_latitude,deviceCode_location_longitude,deviceCode_location_wardName,deviceCode_pyld_alarmType,deviceCode_pyld_speed,deviceCode_time_recordedTime_$date
0,864504031502210,12.984595,77.744087,Kadugodi,PCW,32,2018-02-01T01:48:59.000Z
1,864504031502210,12.987233,77.741119,Garudachar Playa,FCW,41,2018-02-01T01:50:00.000Z
2,864504031502210,12.987503,77.740051,Hudi,Overspeed,37,2018-02-01T01:50:11.000Z
3,864504031502210,12.987523,77.736702,Kadugodi,HMW,32,2018-02-01T01:50:50.000Z
4,864504031502210,12.988210,77.731369,Hudi,Overspeed,27,2018-02-01T01:52:26.000Z

In [74]:
my.to_csv('BangloreUpdated.csv')